@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    cursor:crosshair;
};

body {
    font-family: "Montserrat";
}

.button_hover:hover svg {
 color: #515052;
}

[data-sonner-toast] {
    background: linear-gradient(to right, #3b82f6, #9333ea) !important;
    color: #fff !important;
    border-radius: 9999px !important;
    padding: 10px 16px !important;
    box-shadow: 0 6px 18px rgba(147, 51, 234, 0.4) !important;
    border: none !important;
    outline: none !important;
    max-width: fit-content !important;
    white-space: nowrap !important;
  }
  